{% extends './layout.html' %}
{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/modify_posts.css')}}">{% endblock %}
{% block body %}
    <header>
        <div class="navigation">
            <ul class="menu">
                <li class="menu-item"><a href="{{ url_for('inicio') }}">Inicio</a></li>
                <li class="menu-item"><a href="{{ url_for('escuelas_filo') }}">Escuelas Filosóficas</a></li>
                <li class="menu-item"><a href="{{ url_for('forum') }}">Foro</a></li>
                <li class="menu-item"><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
            </ul>
        </div>
    </header>

    
    <!-- Formulario para agregar un comentario -->
    <div class="forum-container">
        <div class="post">
            <h2>{{ post[1] }}</h2>
            <p>{{ post[2] }}</p>
            <p>Este comentario es: {{post[4]}}</p>
            <small>Publicado por {{ post[0] }} el {{ post[5] }}</small>
         </div>
        <div class="edit-post">
            <form action="{{ url_for('edit_post', post_id=post[3])}}" method="POST">
                <h3>Edita tu publicación</h3><br>
                <textarea name="title" class="title" rows="4" placeholder="Agrega un titulo" required></textarea><br>
                <textarea name="body" rows="4" placeholder="Escribe lo que piensas aquí..." required></textarea><br>
                <button type="submit" class="submit-comment">Publicar</button>
            </form>
        </div>   
    </div>

{% endblock %}
