{% extends './layout.html' %}
{% block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css')}}">{% endblock %}
{% block body %}
<div class="container">
        <!-- Sección 1 -->
        <div class="section active" id="section-1">
            <h1>Pregunta 10(1/3): ¿Cómo ves el concepto de identidad personal a lo largo del tiempo?</h1>
            <p>¿Cuál es tu respuesta a esta pregunta?</p>
            <label class="option">
                <input type="radio" name="answer1" data-text="Está relacionada con el alma eterna, que permanece constante a pesar de los cambios en el mundo material." value='1'> 
                Está relacionada con el alma eterna, que permanece constante a pesar de los cambios en el mundo material.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer1" data-text="Está conformada por el alma racional, que permanece constante a través de la práctica de la virtud y la sabiduría." value='4'> 
                Está conformada por el alma racional, que permanece constante a través de la práctica de la virtud y la sabiduría.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer1" data-text="La identidad personal evoluciona a través del crecimiento personal, el desarrollo ético y la búsqueda continua del conocimiento y los valores humanísticos." value='8'> 
                La identidad personal evoluciona a través del crecimiento personal, el desarrollo ético y la búsqueda continua del conocimiento y los valores humanísticos.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer1" data-text="La identidad personal está influida por una sucesión de experiencias y deseos, centrados en la búsqueda del placer y la evitación del dolor."value='10'> 
                La identidad personal está influida por una sucesión de experiencias y deseos, centrados en la búsqueda del placer y la evitación del dolor.<br>
            </label>
            <div class="button-container">
                <button onclick="nextSection(1, 2)">Siguiente</button>
            </div>
        </div>

        <!-- Sección 2 -->
        <div class="section" id="section-2">
            <h1>Pregunta 10(2/3): ¿Cómo ves el concepto de identidad personal a lo largo del tiempo?</h1>
            <p>¿Cuál es tu respuesta a esta pregunta?</p>

            <label class="option">
                <input type="radio" name="answer2" data-text="Evoluciona a través de la actualización del potencial a lo largo del tiempo, con continuidad en el propio carácter y esencia racional." value='2'> 
                Evoluciona a través de la actualización del potencial a lo largo del tiempo, con continuidad en el propio carácter y esencia racional.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer2" data-text="La identidad personal se basa en la realidad objetiva de las propias experiencias e interacciones con el mundo, que se acumulan con el tiempo." value='5'> 
                La identidad personal se basa en la realidad objetiva de las propias experiencias e interacciones con el mundo, que se acumulan con el tiempo.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer2" data-text="La identidad personal es un proyecto fluido y continuo, recreado constantemente a través de elecciones individuales y acciones auténticas." value='9'> 
                La identidad personal es un proyecto fluido y continuo, recreado constantemente a través de elecciones individuales y acciones auténticas.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer2" data-text="La identidad personal se considera una construcción, sin esencia inherente o estable, sujeta a cambios y reinterpretaciones a lo largo del tiempo." value='11'> 
                La identidad personal se considera una construcción, sin esencia inherente o estable, sujeta a cambios y reinterpretaciones a lo largo del tiempo.<br>
            </label>

            <div class="button-container">
                <button onclick="prevSection(1)">Anterior</button>
                <button onclick="nextSection(2, 3)">Siguiente</button>
            </div>
        </div>

        <!-- Sección 3 -->
        <div class="section" id="section-3">
            <h1>Pregunta 10(3/3): ¿Cómo ves el concepto de identidad personal a lo largo del tiempo?</h1>
            <p>¿Cuál es tu respuesta a esta pregunta?</p>

            <label class="option">
                <input type="radio" name="answer3" data-text="La identidad personal está anclada en el reino de las ideas y en la continuidad del compromiso de la mente con estas verdades superiores." value='3'> 
                La identidad personal está anclada en el reino de las ideas y en la continuidad del compromiso de la mente con estas verdades superiores.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer3" data-text="La identidad personal se define por la continuidad de la mente racional y la acumulación de conocimientos y creencias razonadas." value='6'> 
                La identidad personal se define por la continuidad de la mente racional y la acumulación de conocimientos y creencias razonadas.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer3" data-text="La identidad personal es el resultado de las continuas experiencias personales y la acumulación permanente de conocimientos adquiridos." value='7'> 
                La identidad personal es el resultado de las continuas experiencias personales y la acumulación permanente de conocimientos adquiridos.<br>
            </label>
            <label class="option">
                <input type="radio" name="answer3" data-text="La identidad personal se mantiene mediante el compromiso de vivir de acuerdo con la naturaleza y el rechazo de las convenciones sociales, haciendo hincapié en un comportamiento ético coherente." value='12'> 
                La identidad personal se mantiene mediante el compromiso de vivir de acuerdo con la naturaleza y el rechazo de las convenciones sociales, haciendo hincapié en un comportamiento ético coherente.<br>
            </label>

            <div class="button-container">
                <button onclick="prevSection(2)">Anterior</button>
                <button onclick="showResults()">Mostrar Resultados</button>
            </div>
        </div>

        <!-- Sección de Resultados -->
        <div class="section" id="section-results">
            <h1>Respuestas Seleccionadas</h1>
            <div id="results"></div>
            
            <h2>Selecciona tu respuesta final de las elegidas anteriormente:</h2>
            <div id="final-selection"></div>
    
            <div class="button-container">
                <button onclick="selectFinalAnswer()">Confirmar Respuesta Final</button>
            </div>
            
            <div id="final-result" style="display:none;">
                <h3>Respuesta Final Seleccionada:</h3>
                <p id="final-answer"></p>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/register10.js') }}"></script>
{% endblock %}